body {
    background-color: #292929;
    font-family: 'Poppins';
    text-align: center;
    color: antiquewhite;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    background-color: #111111;
    border-radius: 100px;
    border: 0;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 1.125em;
    text-align: center;
    white-space: nowrap;
    font-family: 'Poppins';
}

.textBox {
    font-family: 'Poppins';
    width: 18em;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    border-radius: 100px;
    font-weight: 700;
    height: 2.75em;
    padding: 0 1.1rem;
    line-height: 2.75em;
}

.button:hover {
    background-color: #ffffff;
    color: #000000 !important;
}

.button:active {
    background-color: #ffffff;
    color: #000000 !important; 
}

.button:disabled {
    opacity: 0.5; 
}

li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
}

.listContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: none;
    border-radius: 5px;
    justify-content: space-evenly;
    flex-shrink: 10;
}

div {
    padding: 10px;
}
.container {
    display: flex;
    flex-direction: column;
}

.listItemName {
    padding-right: 5px;
}

.listItem .complete {
    color : rgb(96, 243, 143);
    cursor:pointer;
    text-decoration: none;
}

.listItem .remove {
    color : rgb(243, 96, 96);
    cursor:pointer;
    text-decoration: none;
}

.listItem .revert {
    color : rgb(96, 194, 243);
    cursor:pointer;
    text-decoration: none;
}

.listItem .load {
    color : rgb(202, 202, 202);
    cursor:pointer;
    text-decoration: none;
}

.listItem .save {
    color : rgb(202, 202, 202);
    cursor:pointer;
    text-decoration: none; 
}

.listItem .delete {
    color : rgb(243, 96, 96);
    cursor:pointer;
    text-decoration: none;
}

.load_title {
    color : rgb(202, 202, 202);
    cursor:pointer;
    text-decoration: none;
}

.save_title {
    color : rgb(202, 202, 202);
    cursor:pointer;
    text-decoration: none; 
}

.button_title {
    background: transparent;
    border: none !important;
    color : rgb(202, 202, 202);
    cursor:pointer;
    text-decoration: none;
}

form .message {
    text-decoration: none;
    -moz-transition: opacity 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out, -ms-transform 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    /* height: 2.75em; */
    line-height: 2.75em;
    opacity: 0; 
}
.page-child.hide {
    opacity: 0;
}

form .message.visible {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
}

form .message.success {
    color: #1cb495; 
}
form .message.success:before {
    content: '✓ '; 
}

form .message.loading {
    color: #ffffff;
}

form .message.failure {
    color: #ff2361;
}
form .message.failure:before {
    content: 'X '; 
}

/*----------------------------------------------------*/
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(-90deg);
}

#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: antiquewhite;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: black;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }